@use "sass:list";

$point-color: #004D98;
$sub-color: #FFD400;

$base-size: 18px;
$title-size: 26px;
$sub-title-size: 20px;

$base-line: 25px;
$title-line: 35px;

$column: 70px;
$gutter: 15px;

@mixin child-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin info-text-align($size: $base-size) {
  padding: 0 3px;
  text-align: center;
  @if ($size == $base-size) {
    line-height: $base-line;
  }
  @else if ($size == $title-size) {
    font-size: $title-size;
    line-height: $title-line;
  }
}

@mixin modal {
  box-sizing: border-box;
  padding: $gutter/2*3 $gutter;
  background-color: white;
  border-radius: 25px;
}

/* ----- header ----- */
.header {
  @include child-center();
  height: 80px;
  background-color: $point-color;
  position: relative;

  .home-icon {
    width: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .logo {
    width: 170px;
  }
}

/* ----- main ----- */
.main {
  height: calc(100% - 80px);
  background-image: url("../img/event_3.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

/* ----- menu ----- */
.menu {
  .menu-bar {
    display: flex;
    height: 70px;
    box-sizing: border-box;
    padding: 10px $gutter;
    background-color: $point-color;
    
    a {
      @include child-center();
      width: 20%;
      height: 50px;
      border-radius: 15px;
      color: white;
      text-align: center;
      font-size: $sub-title-size;

      &.active {
        background-color: $sub-color;
        color: black;
      }
    }
  }

  .menu-container {
    display: grid;
    width: $column * 8 + $gutter * 7;
    margin: $gutter * 3 auto;
    grid-template-columns: repeat(4, $column * 2 + $gutter);
    grid-template-rows: repeat(3, $column*2+$gutter+10px+$base-line*3);
    gap: $gutter*2 $gutter;
    position: relative;
  }

  .menu-cart {
    .cart-title {
      height: 60px;
      box-sizing: border-box;
      padding: 0 20px;
      background-color: $point-color;
      color: white;
      text-align: center;
      font-size: $sub-title-size;
      line-height: 60px;
      position: relative;
    }

    .item-container {
      display:flex;
      height: $column * 2 / 3 * 2 + $base-line * 3 + 32px + 30px + $gutter * 2;
      box-sizing: border-box;
      padding: $gutter;
      background-color: #eee;
      gap: 20px;
    }

    .cart-footer {
      display: flex;
      padding: 10px $gutter;
      align-items: center;
      justify-content: right;
      gap: $gutter;
      
      p {
        font-size: $sub-title-size;
      }
    }
  }
}

/* ----- food ----- */
.food {
  width: $column * 2 + $gutter;
  box-sizing: border-box;

  .food-img {
    @include child-center();
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #eee;
    aspect-ratio: 1 / 1;
  }

  p {
    @include info-text-align();

    &.food-price {
      color: $point-color;
    }
  }
}

/* ----- menu cart item ----- */
.menu-cart-item {
  width: $column * 2 + $gutter;
  height: $column * 2 / 3 * 2 + $base-line * 3 + 32px + 30px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  position: relative;

  .item-img {
    @include child-center();
    $width: $column * 2;
    width: $width;
    height: $width / 3 * 2;
    margin-bottom: 10px;
    overflow: hidden;
  }

  > p {
    @include info-text-align();

    &.item-name {
      @include child-center();
      height: 50px;
    }

    &.item-price {
      color: $point-color;
    }
  }

  .item-btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .item-btn {
    width: 32px;
    height: 32px;

    &.close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

/* ----- modal ----- */
.modal-bg {
  @include child-center();
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba($color: #111, $alpha: 0.3);
}

/* ----- option modal ----- */
.option-modal {
  @include modal();
  display: flex;
  width: $column * 8 + $gutter * 9;
  max-height: 950px;
  flex-direction: column;

  .food-info {
    box-sizing: border-box;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;

    .info-box {
      margin-bottom: 10px;
      overflow: hidden;

      .info-img {
        @include child-center();
        $width: $column * 3 + $gutter * 2;
        width: $width;
        height: $width / 3 * 2;
        margin-right: $gutter;
        float: left;
      }
  
      .info-txt {
        width: $column * 5 + $gutter * 4;
        float: right;
      }
    }

    .count-box {
      display: flex;
      align-items: center;

      .info-btn-box {
        display: flex;
        width: $column * 3 + $gutter * 2;
        margin-right: $gutter;
        box-sizing: border-box;
        padding: 0 10px;
        align-items: center;
        justify-content: space-between;

        .info-btn {
          width: 42px;
          height: 42px;
        }
      }

      .option-price {
        width: $column * 5 + $gutter * 4;
        padding: 0 3px;
        color: $point-color;
        font-size: $title-size;
        line-height: $title-line;
        text-align: right;
      }
    }
  }

  .option-container {
    overflow-y: auto;
  }

  .option-footer {
    @include child-center();
    box-sizing: border-box;
    padding-top: 30px;
    border-top: 1px solid #ddd;
  }
}

/* ----- option ----- */
.option {
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;

  ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    li {
      input {
        display: none;
      }

      input:checked ~ .option-item {
        border-color: $point-color;
      }

      .option-item {
        @include child-center();
        width: ($column * 3 + $gutter) / 2;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid #ccc;
        flex-direction: column;
    
        .option-icon {
          @include child-center();          
          width: 95px;
          height: 95px;
        }
    
        p {
          @include info-text-align();
        }
      }
    }
  }
  
  &:last-of-type {
    border: none;
  }
}

/* ----- cart modal ----- */
.cart-modal {
  @include modal();
  display: flex;
  width: $column * 8 + $gutter * 9;
  height: 950px;
  flex-direction: column;

  .cart-title {
    box-sizing: border-box;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

    p {
      padding: 10px;
      @include info-text-align($title-size);
    }
  }

  .cart-container {
    flex-grow: 1;
    overflow-y: auto;

    .cart-item {
      border-bottom: 1px solid #eee;

      .item-info {
        display: flex;
        background-color: #f5f5f5;
        align-items: center;
        justify-content: space-between;
  
        &:last-of-type {
          border: none
        }
  
        .cart-img {
          @include child-center();
          width: $column * 1.5;
          height: 100px;
        }
  
        p {
          font-size: $sub-title-size;
          text-align: center;

          $widths: $column*0.5, $column*3+$gutter*2, $column, $column*2+$gutter;
          @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
              width: list.nth($widths, $i);
            }
          }
        }
  
        .cart-name {
          text-align: left;
          font-weight: 550;
        }
      }

      .option-list {
        padding: 10px 0;

        .item-option {
          margin-left: $column * 2 + $gutter * 2;
          padding: 10px 0;
          color: $point-color;
        }
      }

    }
  }

  .cart-footer {
    box-sizing: border-box;
    padding-top: 25px;
    border-top: 1px solid #ddd;

    .cart-txt {
      display: flex;
      justify-content: space-between;
  
      p {
        margin-bottom: 10px;
        line-height: $title-line;
        font-size: $title-size;
      }
    }
  
    .cart-btn-box {
      @include child-center();
      margin-top: 10px;
    }
  }
}

/* ----- payment ----- */
.payment {
  height: 100%;

  .payment-container {
    height: calc(100% - calc($title-line * 2 + 20px + 50px + 60px) - 80px);

    .payment-title {
      padding: 200px 0 80px;
      font-size: $title-size;
      text-align: center;
    }

    .payment-list {
      display: flex;
      width: $column * 6 + $gutter * 5;
      margin: 0 auto;
      flex-wrap: wrap;
      justify-content: space-between;

      .payment-item {
        width: $column * 3 + $gutter * 2;
        height: 55px + 40px + 40px + 10px + $title-line;
        margin-bottom: 20px;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 20px;
        border: 1px solid #999;

        .pay-img {
          padding: 20px;
          width: 55px;
          height: 55px;
          margin: 0 auto 10px;
        }

        p {
          @include info-text-align($title-size);
        }
      }
    }
  }

  .payment-footer {
    box-sizing: border-box;
    padding: 30px $gutter;
    border-top: 1px solid #ddd;
    text-align: center;

    .footer-txt {
      display: flex;
      justify-content: space-between;
  
      p {
        margin-bottom: 10px;
        line-height: $title-line;
        font-size: $title-size;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.payment-btn {
  padding: 30px;
  border-radius: 10px;
  font-size: 32px;
  position: fixed;
  left: 1000px;
  top: 40vh;
}

/* ----- wait modal ----- */
.wait-modal {
  @include modal();
  display: flex;
  width: $column * 6 + $gutter * 7;
  height: 400px;
  flex-direction: column;
  align-items: center;

  .payment-title {
    @include info-text-align($title-size);
    padding: 30px 0 60px;
  }
  
  .payment-txt {
    margin-bottom: 30px;
    flex-grow: 1;

    p {
      @include info-text-align($title-size);
    }
  }
}

/* ----- receipt modal ----- */
.receipt-modal {
  @extend .wait-modal;
  height: 450px + 80px + 30px + 40px;

  .receipt-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 30px;
    padding: 20px;
    border-radius: 50%;
    background-color: $sub-color;
  }
}

/* ----- popup ----- */
.popup {
  @include info-text-align();
  width: 300px;
  box-sizing: border-box;
  padding: 80px 20px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0 0 5px rgba($color: #111, $alpha: 0.3);
  
  z-index: 100;
  position: fixed;
  top: 120px;
  left: 100px;

  .close-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
  }
}